@import "../../../../../modules/backend/assets/less/core/boot.less";

.field-multilingual-text {
    position: relative;
    .form-control {
        padding-right: 44px;
    }
    .btn {
        background: transparent;
        position: absolute;
        right: 2px;
        top: 50%;
        margin-top: -44px;
        height: 88px;
        width: 44px;
        color: lighten(@btn-default-color, 15%);
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;

        &:hover {
            color: @btn-default-color;
        }
    }
}