.field-multilingual {
  position: relative;
}
.field-multilingual .language-btn {
  background: transparent;
  position: absolute;
  color: #7b7b7b;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  width: 44px;
  padding-right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.field-multilingual .language-btn:hover {
  color: #555555;
}
.field-multilingual.field-multilingual-text .form-control {
  padding-right: 44px;
}
.field-multilingual.field-multilingual-text .language-btn {
  right: 4px;
  top: 50%;
  margin-top: -44px;
  height: 88px;
}
.field-multilingual.field-multilingual-textarea .language-btn {
  right: 11px;
  top: 5px;
  text-align: right;
}
.field-multilingual.field-multilingual-textarea .language-dropdown-menu {
  top: 39px !important;
  right: 1px;
}
.field-multilingual.field-multilingual-richeditor .language-btn {
  top: 43px;
  right: 15px;
  text-align: right;
}
.field-multilingual.field-multilingual-richeditor .language-dropdown-menu {
  top: 74px !important;
  right: 1px;
}
.field-multilingual.field-multilingual-markdowneditor .language-btn {
  top: 43px;
  right: 15px;
  text-align: right;
}
.field-multilingual.field-multilingual-markdowneditor .language-dropdown-menu {
  top: 74px !important;
  right: 1px;
}
.fancy-layout .form-tabless-fields .field-multilingual .language-btn {
  color: rgba(255, 255, 255, 0.8);
}
.fancy-layout .form-tabless-fields .field-multilingual .language-btn:hover {
  color: #ffffff;
}
.fancy-layout .field-multilingual-richeditor .language-btn {
  top: 63px;
  right: 25px;
}
.fancy-layout .field-multilingual-richeditor .language-dropdown-menu {
  top: 94px !important;
  right: 11px;
}
