.field-multilingual-text {
  position: relative;
}
.field-multilingual-text .form-control {
  padding-right: 44px;
}
.field-multilingual-text .btn {
  background: transparent;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -44px;
  height: 88px;
  width: 44px;
  color: #8c8c8c;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
.field-multilingual-text .btn:hover {
  color: #666666;
}
