<!-- ML Repeater -->
<div
    id="<?= $this->getId('mlControl') ?>"
    data-control="mlrepeater"
    data-default-locale="<?= $defaultLocale->code ?>"
    data-switch-handler="<?= $this->getEventHandler('onSwitchItemLocale') ?>"
    class="field-multilingual field-multilingual-repeater"
    >

    <?= $repeater ?>

    <button
        class="btn btn-default ml-btn"
        data-toggle="dropdown"
        data-active-locale
        type="button">
    </button>

    <input
        atype="hidden"
type="text"
style="width:100%"
        data-repeater-map
        name="<?= $field->getName('RLTranslateRepeaterMap') ?>"
        value=""
    />

    <?= $this->makeParentPartial('locale_values') ?>

    <?= $this->makeParentPartial('locale_selector') ?>
</div>
