<!-- ML Repeater -->
<div
    id="<?= $this->getId('mlControl') ?>"
    data-control="mlrepeater"
    data-default-locale="<?= e($defaultLocale->code) ?>"
    data-switch-handler="<?= $this->getEventHandler('onSwitchItemLocale') ?>"
    class="field-multilingual field-multilingual-repeater dropdown"
    >

    <div id="<?= $this->getId('mlRepeater') ?>">
        <?= $repeater ?>
    </div>


    <input
        type="hidden"
        data-repeater-active-locale
        name="<?= $field->getName('RLTranslateRepeaterLocale') ?>"
        value="<?= e($defaultLocale->code) ?>"
    />

    <div class="ml-selector-wrap model">
        <button
            class="item btn btn-default ml-btn"
            data-toggle="dropdown"
            data-active-locale
            type="button">
        </button>

        <?= $this->makeParentPartial('locale_selector') ?>
    </div>

    <?= $this->makeParentPartial('locale_values') ?>
</div>